header.navbar
	section.navbar-section
		a.navbar-brand(href="#", v-link="{path: '/'}") Blog
	section.navbar-section
		a.btn.btn-link(href="#", v-link="{path: '/'}") 記事一覧
		a.btn.btn-link(href="#", v-link="{path: '/create'}") 新規